/* .alert {
    z-index: 3;
    width: 450px;
    height: auto;
    background-color: var(--primary-color);
    margin: 0;
    padding: 75px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column; 
    gap:30px;


}


.alert button {
    width:25%;
}

.alert p 
{
    font-size:15px;
}

.alert h1 {
    font-size:32px;
}

.alert * {
    margin: 0;
}


.exitIcon {
    flex-grow:0;
    flex-shrink:0;
    align-self: flex-start;
}

.exitIcon:hover {
    cursor:pointer;
} */