/* 
.aiPanel {
    background-color: var(--menu-background);
}
.subsectionView .header {
    padding: 20px;
    display: flex;
    background-color: var(--primary-color);
    border-radius:2px;
    align-items: center;
}

.subsectionView .header .icon {
    margin-left:auto;
}

.point {
    padding:15px 20px;
    border-bottom:1px solid gray;
    background-color: rgb(199, 199, 199);
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.subsectionView h2 {
    font-size:16px;
}

.icon:hover {
    cursor:pointer;   
}

.subtext {
    color:#2e2e2e;
}

.pointText {
    font-size:15px;
}

.circle {
    width:10px;
    height:10px;
    border:1px solid black;
    border-radius:100px;
}

.circle:hover{
    cursor:pointer;
    background-color:black;
}

.circle .active{
    background-color:black;

} */