/* Consolidated CSS with Consistent Color Theme */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --bg-primary: #0b0b0f;
    --bg-secondary: #10121a;
    --text-primary: #e8ddc3;
    --text-secondary: #d6c195;
    --accent-one: #060713;
    --accent-two: #0f1925;
    --accent-three: #060713;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    font-weight: normal;
    color: var(--text-primary);
    
    
}

p {
    color: var(--text-secondary)
}

h1 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

p,
li {
    font-family: "DM Sans";
    font-weight: 300;
    font-size: 15px;
    margin: 35px 0;
    padding: 0;
}

/* Base Elements */
body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
}

button {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    font-family: "DM Sans";
    padding: 15px;
    transition: .5s;
}

button:hover {
    background-color: var(--text-primary);
    color: var(--bg-primary);
    cursor: pointer;
    transition: .5s;
}

input {
    background-color: transparent;
    font-family: "DM Sans";
    border: none;
    padding: 10px 35px;
    text-align: left;
    border-bottom: 1px solid var(--text-secondary);
    border-radius: 2px;
    color: var(--text-primary);
}

input:focus {
    outline: none;
    /* border: 1px solid var(--accent); */
}

select {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-family: "DM Sans";
    border: 1px solid var(--text-secondary);
    padding: 7px;
    outline: none;
    font-size: 13px;
    transition: .5s;
    border-radius: .5rem;
}

select:hover {
    cursor: pointer;
    outline: none;
    background-color: var(--accent);
    color: var(--text-primary);
    transition: .5s;
}

.dashboard {
    min-width: 100vw;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 40px
}

.eContainer {
    width: 100%;
    min-height: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    /* overflow-y: scroll; */
}

.editorContainer {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 57.5px 150px;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-behavior: smooth;
    /* Add this for smoother scrolling */
}

.editorContainer #exitDoc {
    flex-grow: 0;
    align-self: flex-start;
}

.editorContent {
    width: 100%;
    height: 100%;
}

.container {
    z-index: 1;
}

.panel {
    min-height: 100vh;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    padding: 45px;
}

nav .icons {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

nav button {
    flex-grow: 0;
    flex: 0;
}

nav.panelNav {
    position: absolute;
    top: 0;
    padding: 0;
}

.menuHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    font-weight: 800;
    font-size: 18px;
}

/* Document Components */
.documentContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    gap: 30px;
}

.dashContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.dashHeader {
    align-self: flex-start;
    margin-left: 60px;
}

.dashHeader h1 {
    font-size: 96px;
    /* color:var(--text-secondary); */
}

.dashHeader p {
    color: var(--text-secondary);
    font-size: 16px;
}



.dashContainer h3 {
    font-size: 24px;
}

.documentView {
    width: 350px;
    max-height: 550px;
    background-color: var(--bg-secondary);
    position: relative;
    padding: 15px 45px;
    border-radius: 10px;
    /* box-shadow: 20px 20px rgba(29, 29, 29, 0.3); */
    transition: .5s;
    overflow-wrap: break-word;
}

.documentView h4 {
    overflow-wrap: break-word;
}

.documentView:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--accent);
    border-radius: 15px;

}

.documentView:hover {
    cursor: pointer;
    transform: translateY(-5%);
    transition: .5s;
    /* box-shadow: 20px 20px rgba(0, 0, 0, 0.5); */
}

p.docContent {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom .icons {
    margin-left: auto;
}

.bottom .icons svg {
    font-size: 16px;
}

.bottom * {
    font-size: 12px;
}

/* Editor Components */
.ProseMirror {
    width: 750px;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror.editor {
    font-family: "Playfair Display";
    font-size: 22px;
    width: 80%;
}

.ProseMirror p {
    font-family: "DM Sans";
    font-size: 22px;
    font-weight: 200;
    
}

.ProseMirror.header p {
    font-family: "Playfair Display";
    font-size: 64px;
    color:var(--text-secondary)
}

.ProseMirror.header p.is-editor-empty:first-child::before {
    font-family: "Playfair Display";
    font-size: 64px;
    opacity:.3;
}

.ProseEditor.header h1, .ProseEditor.header h2, .ProseEditor.header h3, .ProseEditor.header h4, .ProseEditor.header h5, .ProseEditor.header h6 {
    line-height:5rem;
}

.ProseMirror.editor p {
    color:var(--text-primary)
}

.ProseMirror.editor p.is-editor-empty:first-child::before {
    font-family: "DM Sans";
    font-size: 22px;
}

.tiptap p.is-editor-empty:first-child::before {
    color: var(--tertiary-color);
    content: attr(data-placeholder);
}

.empty-editor::before {
    content: attr(data-placeholder);
    color: var(--tertiary-color);
    float: left;
    pointer-events: none;
    height: 0;
}

.editor {
    line-height: 2rem;
}

.editor p {
    font-size: 20px;
}

/* Menu Components */
.menu {
    align-items: center;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    width: fit-content;
    display: flex;
    gap: 1rem;
}

.menu button {
    height: 100%;
}

.bubbleBtn {
    align-self: center;
    border-radius: 5px;
}

.bubbleMenu {
    flex-direction: row;
    padding: 12.5px 30px;
}

button.bubbleBtn {
    background-color: var(--bg-secondary);
}

.bubbleBtn:hover {
    background-color: var(--text-secondary);
    color: var(--bg-secondary)
}

.floatingMenu {
    padding: 30px 12.5px;
    flex-direction: column;
    flex-grow: 1;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    right: 0;
    margin: 10px 0;
}

.dropdown button {
    border-radius: 0;
    padding: 15px 40px;
    border-bottom: 1px solid var(--text-secondary);
}

/* AI Panel Components */
.aiPanel {
    background-color: var(--bg-secondary);
    padding: 87.5px 0;
}

.aiSummaryPanel {
    padding: 60px;
    position: relative;
}

.aiBtn {
    position: fixed;
    left: 82.5%;
    top: 80%;
    padding: 20px 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 15px;
}

.aiBtn p {
    margin: 0;
}

.subsectionView .header {
    padding: 20px;
    display: flex;
    background-color: var(--bg-primary);
    border-radius: 2px;
    align-items: center;
}

.subsectionView .header .icon {
    margin-left: auto;
}

.subsectionView h2 {
    font-size: 16px;
}

.point {
    padding: 15px 20px;
    border-bottom: 1px solid var(--text-secondary);
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pointText {
    font-size: 15px;
}

.circle {
    width: 22.5px;
    height: 22.5px;
    border: 1px solid var(--text-primary);
    border-radius: 100px;
}

.circle:hover {
    cursor: pointer;
    background-color: var(--text-primary);
}

.circle.active {
    background-color: var(--text-primary);
}

/* Login Components */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 100vh;
}

.login button {
    padding: 10px 30px;
    margin: 10px 0;
}

.login a {
    font-family: "DM Sans";
    color: var(--accent);
}

.loginOptions {
    display: flex;
    gap: 10px;
}

.otherOptions {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.options * {
    margin: 15px 0;
}

/* Alert/Modal Components */
.overlay {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.alert {
    z-index: 3;
    width: 500px;
    height: auto;
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 85px 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}

.alert button {
    width: 25%;
}

.alert p {
    font-size: 15px;
}

.alert h1 {
    font-size: 32px;
}

.alert * {
    margin: 0;
}

/* Utility Classes */
.bubbleBtn .active {
    background-color: var(--text-primary);
    color: var(--bg-primary);
}

.exit {
    padding-right: 60px;
    font-size: 16px;
    float: right;
}

.exitIcon {
    /* flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-end; */
    position: absolute;
    top: 0;
    right: 0;
    padding: 45px;

}

.exitIcon:hover {
    cursor: pointer;
}

.icon {
    font-size: 22px;
}

.icon:hover {
    cursor: pointer;
}

.subtext {
    color: var(--text-secondary);
}

.saved,
.time {
    color: var(--text-secondary);
}

.loadingScreen {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.feedbackView {
    display: flex;
}

.resizeHandle {
    border: .01px solid var(--text-secondary);
}

/* Color Picker */
#colorPicker {
    border: 1px solid var(--text-secondary);
    font-family: "DM Sans";
    border-radius: 10px;
    transition: .5s;
    height: 25px;
    width: 25px;
}

#colorPicker:hover {
    cursor: pointer;
    border-color: var(--accent);
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.docHeader:hover {
    text-decoration: underline;
}

.editor {
    color: white;
}

.google * {
    margin: 0 5px;
}

mark:hover {
    cursor: pointer;
}


/* Layout Components */
 .landingPage {
    width: 100%;
    min-height: 100vh;
    background: 
                radial-gradient(circle at 20% 30%, var(--accent-one) 0%, transparent 50%),
                radial-gradient(circle at 80% 20%, var(--accent-two) 0%, transparent 45%),
                radial-gradient(circle at 40% 80%, var(--accent-three) 0%, transparent 40%),
                radial-gradient(circle at 90% 90%, var(--bg-secondary) 0%, transparent 60%),
                linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
            background-size: 100% 100%;
            /* animation: gradientShift 15s ease-in-out infinite; */
    /* background: var(--bg-secondary); */
    /* background: hsla(228, 24%, 8%, 1);

background: linear-gradient(315deg, hsla(228, 24%, 8%, 1) 0%, hsla(240, 15%, 5%, 1) 48%, hsla(228, 24%, 8%, 1) 100%);

background: -moz-linear-gradient(315deg, hsla(228, 24%, 8%, 1) 0%, hsla(240, 15%, 5%, 1) 48%, hsla(228, 24%, 8%, 1) 100%);

background: -webkit-linear-gradient(315deg, hsla(228, 24%, 8%, 1) 0%, hsla(240, 15%, 5%, 1) 48%, hsla(228, 24%, 8%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#10121A", endColorstr="#0B0B0F", GradientType=1 ); */
/* background: linear-gradient(135deg, #0b0b0f 0%, #10121a 100%); */


}

.landingPage .main {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 100px;
    /* align-items: center;
    justify-content: center;
    min-height:100vh;
    gap:15px; */

 } 

.main .one {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    gap: 0px;
}

.landingPage h1 {
    font-size: 64px;
    inline-size: 50%;
    text-align: center;
    padding:0;
    margin:0;

}

.landingPage p {
    font-size: 18px;
    font-weight: 200;
}

.landingPage nav {
    display: flex;
    padding: 40px;

}

nav.hamburger {
    padding:0;
}

.landingPage nav .right {
    margin-left: auto;
    display: flex;
    gap: 50px;

}

.landingPage nav .right a {
    color: var(--text-secondary);
}

.landingPage a {
    text-decoration: none;
    color: var(--text-primary);
    font-family: "DM Sans";
    font-size: 1.1em;
    font-weight: 300;
}

.landingPage .two,
.landingPage .three {
    margin: 0 75px;
}

.landingPage h2 {
    font-size: 48px;
}

.landingPage button {
    border-radius: 0;
    padding: 15px 40px;
}

.features {
    display: flex;
    gap:15px;
    /* gap: 100px; */

}

.featureHeader h3 {
    display: flex;
    align-items: center;
    gap:15px;
}

.feature {
    background-color: var(--bg-secondary);

/* padding:5px 15px; */
    width: calc(33% - 37.5px);
    padding:20px;
    border-radius: 10px;
    /* height: 300px; */
    /* padding:5px 10px; */
}


.featureContainer {
    padding:10px;
}


.feature h3 {
    font-size: 28px;
}

.feature h4 {
    font-size: 22px;
}

.feature p {
    font-size: 16px;
}

.landingPage .three {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.landingPage .three .getStarted {
    margin-left: auto
}

nav.hamburger {
    display:none;
}

.collapsedLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    align-items: center;
    height:100vh;
    width:100%;
}
.collapsedLinks .burgerLink {
    height:20%;
    width:100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.burgerLink:hover {
    background-color: var(--text-primary);
    
    cursor:pointer;
}

.burgerLink:hover a {
    color:var(--bg-secondary);
}

.feature p {
    margin:0;
}

@media (max-width:1300px) {
    .landingPage h1 {
        font-size: 48px;
    }

    .landingPage h2 {
        font-size:36px;
    }

} 

@media (max-width:1050px) {
    .features {
        display:block;
    }
    .feature {
    min-width:90%;
    margin:30px 0;
    padding:30px;

    }

    .mainImage 
    {
        transform:scale(.75,.75);
    }
} 

@media (max-width:800px) {
    .mainImage 
    {
        transform:scale(.5,.5);
    }

    .landingPage h1, .landingPage h2 {
        text-align: center;
    }
}


@media(max-width:800px){
    nav.landingNav {
        display:none;
    }

    nav.hamburger {
        display:flex;
        flex-direction: column;
        padding:50px 0;
    }

    .bars {
        font-size:24px;
    }

    .bars {
        cursor:pointer;
    }



    nav.navLink {
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width:100vw;
        flex-direction: column;
        margin-top:40px;
    }
    .landingPage h1 {
        font-size:48px;
    }

    .landingPage h2 {
        font-size:36px;
    }
    .landingPage h3 {
        font-size:24px;
    }
    .landingPage img {
        width:100%;
        height:100%;
    }

    .landingPage .one {
        padding:20px;
    }

    .landingPage .three {
        flex-direction: column;
        text-align: center;
        padding:10px 0;
    }
    .mainImage 
    {
        transform:scale(.95,.95);
    }
}

@media(max-width:750px){
    .landingPage h1 {
        font-size:32px;
    }
    .landingPage h2 {
        font-size:28px;
    }

    .landingPage h4 {
        font-size:13px;
    }
    .landingPage p {
        font-size:12px;
    }

    .featureHeader h3 {
        text-align: center;
        align-items: center;
    }

    .landingPage nav{
        padding:15px;
    }

    .landingPage .main {
        padding:0;
    }

    .landingPage .three {
        display:block;

    }
    .three * {
        margin:10px 0;

    }
}

.paragraphDemo {
    background-color: var(--bg-primary);
    padding:20px;
}

.paragraphDemo .paragraphHeader {
    display:flex;
    align-items: center;
    
}

.paragraphHeader .collapseIcon {
    margin-left: auto;
}

.paragraphContent * {
    margin:20px 0;
}

.paragraphContent button {
    margin:0;
    padding:10px 30px;
}

.paragraphHeader h2 {
    font-size:18px;
}


.paragraphContent p {
    font-size:14px;
}

.collapseIcon:hover {
    cursor:pointer;
}

.activePara * {
    color:var(--bg-primary);
    background-color: var(--text-primary);

}

.profileSettings {
    padding:50px 60px;
    display:flex;
    flex-direction: column;
    gap:60px;
}

.profileSettingsContainer {
    display: flex;
    flex-direction: column;
    gap:30px;
}

.profileSettings input {
    width:300px;
    padding:10px 5px;
}